.animate__delay-6s {
    animation-delay: 6s;
}
.animate__delay-7s {
    animation-delay: 7s;
}
.animate__delay-8s {
    animation-delay: 8s;
}
.animate__delay-9s {
    animation-delay: 9s;
}
.animate__delay-10s {
    animation-delay: 10s;
}